@CHARSET "UTF-8";

   body { 
   		background: green;
   		color: white;
    }
    
    .card-div{
     	width: 200px;
    	height: 300px;
	   	padding: 5px;
	    margin: 10px;
		border-radius:10px;
	    border: 5px solid white;
    }
    
    .btn-game{
    	background: green;
   		color: white;
		padding: 10px;
 	    margin: 10px;
		border-radius:10px;
	    border: 5px solid white;   
    }
    
    .card{
	    width: 180px;
     	height: 280px;
    	border-radius:5px;
    	border: 1px solid black; 
    	background: green;
    }
    
    .card-backside{
	    background-image: url("bg.png");
	    background-color: red;
    	width: 100%;
     	height: 100%;
     	margin: 0px;
     	border-radius:5px;
   	   	border: 5px solid white; 
   		
	
    	padding: 5px;
    }
    
    .card-frontside{
     	width: 100%;
     	height: 100%;
     	background: white;
     	border-radius: 5px;
  	 	border: 3px solid white; 
    }
 

    
    .card-corner{
    	font-size: 20px;
    	margin-left: 5px;
    	margin-right: 5px;
     	text-align:center;
    }
    
    #top-right{
	    position: absolute;
    	top: 0;
   		right: 0;
    }
    
    #top-left{
        position: absolute;
    	top: 0;
   		left: 0;
    }
    
    
     #down-left{
        position: absolute;
    	bottom: 0;
   		left: 0;
     }
    
     #down-right{
        position: absolute;
    	bottom: 0;
   		right: 0;
     }


	 #cardup-inside-center{ 
		position: static;
	    width: 100%;
     	height: 100%;
		font-size: 60px;
        text-align:center;
       	vertical-align: middle;
		line-height: 270px; 
	 }
	 
	 #ace{
		font-size: 140px; 
  		display: inline-block;
  	 }
	 
	 #suit-inside-top-center{
		position: absolute;
		top: -100px;
	  	left: 70px;
	 }
    
     #suit-inside-bottom-center{
		  position: absolute;
	      left: 70px;
	      bottom: -100px;
	 }
    
     #suit-inside-center-center{
		  position: absolute;
		  left: 70px;
	 }
    
     #suit-inside-top-left{
		position: absolute;
		top: -100px;
	  	left: 20px;
	 }
    
     #suit-inside-top-right{
		position: absolute;
		top: -100px;
	  	right: 20px;
	 }
    
    #suit-inside-bottom-left{
		position: absolute;
		top: 100px;
	  	left: 20px;
	 }
    
     #suit-inside-bottom-right{
		position: absolute;
		top: 100px;
	  	right: 20px;
	 }
    
    #suit-inside-center-left{
		  position: absolute;
		  top: 0px;
		  left: 20px;
	 }
	 
	#suit-inside-center-right{
	    position: absolute;
	    top: 0px;
	   	right: 20px;
	 }
    
     #suit-inside-top-center-center{
		  position: absolute;
	      left: 70px;
	      bottom: 50px;
	 }
    
     #suit-inside-bottom-center-center{
		  position: absolute;
	      left: 70px;
	      bottom: -50px;
	 }
	 
	 
	   #suit-inside-top-center-center-max{
		  position: absolute;
	      left: 70px;
	      bottom: 65px;
	 }
    
     #suit-inside-bottom-center-center-max{
		  position: absolute;
	      left: 70px;
	      bottom: -55px;
	 }
	 
    
     #suit-inside-top-left-down{
		position: absolute;
		top: -30px;
	  	left: 20px;
	 }
    
     #suit-inside-top-right-down{
		position: absolute;
		top: -30px;
	  	right: 20px;
	 }
    
      #suit-inside-bottom-left-top{
		position: absolute;
		top: 30px;
	  	left: 20px;
	 }
    
     #suit-inside-bottom-right-top{
		position: absolute;
		top: 30px;
	  	right: 20px;
	 }
    
    .upside-down{
	    -webkit-transform:rotate(-180deg);
		-moz-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }
    
    
    #cardup{
    	text-align:center;
    	vertical-align:middle;
    }
    
 
    